/*<meta />*/

@media only screen and (max-device-width: 1279px)
{
	/* OffCanvas styles */

	html,
	body
	{
		height: 100%;
		margin: 0;
	}

	.off-canvas
	{
		height: 100%;
		overflow-x: hidden;
	}

	.off-canvas-content
	{
		max-height: none;
	}

	/* Foundation Overrides */

	.foundation-wrap,
	.off-canvas-wrapper,
	.off-canvas-wrapper-inner
	{
		min-height: 100%;
	}

	.foundation-wrap,
	.off-canvas-wrapper
	{
		overflow: visible;
	}

	nav.title-bar .menu-icon
	{
		display: block;
		border: none;
		z-index: 100;
		position: absolute;
		background: transparent;
		cursor: pointer;
		top: 50%;
		transform: translateY(-50%);
	}

	nav.title-bar
	{
		background-repeat: no-repeat;
		background-position: center top;
	}

	/* Topbar Menu Styles */

	.title-bar-section.middle > div
	{
		
	}

	.navigation-wrapper,
	ul.navigation
	{
		display: none;
	}

	.responsive-header
	{
		display: block;
		background: #292929;
		height: 60px;
	}

	.title-bar-layout a.logo
	{
		background-position: center center;
		background-repeat: no-repeat;
		top: 0;
		margin: 0;
	}

	.title-bar .menu-icon span
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url("Images/Menu.png");
		height: 48px;
		width: 48px;
		display: block;
	}

	.search-bar .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.search-bar .search-filter
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.search-input
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.off-canvas.position-right
	{
		background-position: top center;
	}

	.off-canvas.position-right ul ul
	{
		background-position: top center;
	}

	.off-canvas.position-left
	{
		background-position: top center;
	}

	.off-canvas.position-left ul ul
	{
		background-position: top center;
	}

	.off-canvas ul ul.is-accordion-submenu
	{
		background: inherit;
	}

	.off-canvas ul.off-canvas-list li.is-drilldown-submenu-parent > a:after
	{
		margin-left: 0.5rem;
	}

	.is-drilldown-submenu .js-drilldown-back > a:after
	{
		margin-left: 0.5em;
	}

	ul.off-canvas-list li a
	{
		font-size: 1em;
		color: #C1C1C1;
		border-bottom: solid 1px #262626;
		line-height: inherit;
	}

	ul.off-canvas-accordion ul > li > a
	{
		margin-left: 1em;
	}

	ul.off-canvas-accordion ul ul > li > a
	{
		margin-left: 2em;
	}

	ul.off-canvas-accordion ul ul ul > li > a
	{
		margin-left: 3em;
	}

	ul.off-canvas-accordion ul ul ul ul > li > a
	{
		margin-left: 4em;
	}

	ul.off-canvas-accordion-rtl ul > li > a
	{
		margin-left: inherit;
		margin-right: 1em;
	}

	ul.off-canvas-accordion-rtl ul ul > li > a
	{
		margin-left: inherit;
		margin-right: 2em;
	}

	ul.off-canvas-accordion-rtl ul ul ul > li > a
	{
		margin-left: inherit;
		margin-right: 3em;
	}

	ul.off-canvas-accordion-rtl ul ul ul ul > li > a
	{
		margin-left: inherit;
		margin-right: 4em;
	}

	/* Side Nav */

	.sidenav-layout
	{
		display: block;
		height: inherit;
		max-height: none;
	}

	.sidenav-wrapper
	{
		display: none;
	}

	.body-container
	{
		overflow: inherit;
	}

	.central-dropdown
	{
		position: absolute;
		right: 35px;
		top: 50%;
		transform: translateY(-50%);
		margin: 0;
	}

	.title-bar-layout .central-account-wrapper
	{
		display: none;
	}

	.menu-icon-container .central-account-wrapper
	{
		display: flex;
	}

	.menu-icon-container .central-account-drop
	{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 48px;
		height: 48px;
		padding: 0;
	}

	.central-account-text
	{
		display: none;
	}

	.central-dropdown-content
	{
		right: -25px;
	}

	.defaultSkin,
	.defaultSkin body
	{
		height: 100%;
		margin: 0;
	}

	.defaultSkin .off-canvas
	{
		height: 100%;
		overflow-x: hidden;
	}

	.defaultSkin .off-canvas-content
	{
		max-height: none;
	}

	.defaultSkin .foundation-wrap,
	.defaultSkin .off-canvas-wrapper,
	.defaultSkin .off-canvas-wrapper-inner
	{
		min-height: 100%;
	}

	.defaultSkin .foundation-wrap,
	.defaultSkin .off-canvas-wrapper
	{
		overflow: visible;
	}

	.defaultSkin nav.title-bar .menu-icon
	{
		display: block;
		border: none;
		z-index: 100;
		position: absolute;
		background: transparent;
		cursor: pointer;
		top: 50%;
		transform: translateY(-50%);
	}

	.defaultSkin nav.title-bar
	{
		background-repeat: no-repeat;
		background-position: center top;
	}

	.defaultSkin .title-bar-section.middle > div
	{
		
	}

	.defaultSkin .navigation-wrapper,
	.defaultSkin ul.navigation
	{
		display: none;
	}

	.defaultSkin .responsive-header
	{
		display: block;
		background: #292929;
		height: 60px;
	}

	.defaultSkin .title-bar-layout a.logo
	{
		background-position: center center;
		background-repeat: no-repeat;
		top: 0;
		margin: 0;
	}

	.defaultSkin .title-bar .menu-icon span
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url("Images/Menu.png");
		height: 48px;
		width: 48px;
		display: block;
	}

	.defaultSkin .search-bar .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.defaultSkin .search-bar .search-filter
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.defaultSkin .search-input
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.defaultSkin .off-canvas.position-right
	{
		background-position: top center;
	}

	.defaultSkin .off-canvas.position-right ul ul
	{
		background-position: top center;
	}

	.defaultSkin .off-canvas.position-left
	{
		background-position: top center;
	}

	.defaultSkin .off-canvas.position-left ul ul
	{
		background-position: top center;
	}

	.defaultSkin .off-canvas ul ul.is-accordion-submenu
	{
		background: inherit;
	}

	.defaultSkin .off-canvas ul.off-canvas-list li.is-drilldown-submenu-parent > a:after
	{
		margin-left: 0.5rem;
	}

	.defaultSkin .is-drilldown-submenu .js-drilldown-back > a:after
	{
		margin-left: 0.5em;
	}

	.defaultSkin ul.off-canvas-list li a
	{
		font-size: 1em;
		color: #C1C1C1;
		border-bottom: solid 1px #262626;
		line-height: inherit;
	}

	.defaultSkin ul.off-canvas-accordion ul > li > a
	{
		margin-left: 1em;
	}

	.defaultSkin ul.off-canvas-accordion ul ul > li > a
	{
		margin-left: 2em;
	}

	.defaultSkin ul.off-canvas-accordion ul ul ul > li > a
	{
		margin-left: 3em;
	}

	.defaultSkin ul.off-canvas-accordion ul ul ul ul > li > a
	{
		margin-left: 4em;
	}

	.defaultSkin ul.off-canvas-accordion-rtl ul > li > a
	{
		margin-left: inherit;
		margin-right: 1em;
	}

	.defaultSkin ul.off-canvas-accordion-rtl ul ul > li > a
	{
		margin-left: inherit;
		margin-right: 2em;
	}

	.defaultSkin ul.off-canvas-accordion-rtl ul ul ul > li > a
	{
		margin-left: inherit;
		margin-right: 3em;
	}

	.defaultSkin ul.off-canvas-accordion-rtl ul ul ul ul > li > a
	{
		margin-left: inherit;
		margin-right: 4em;
	}

	.defaultSkin .sidenav-layout
	{
		display: block;
		height: inherit;
		max-height: none;
	}

	.defaultSkin .sidenav-wrapper
	{
		display: none;
	}

	.defaultSkin .body-container
	{
		overflow: inherit;
	}

	.defaultSkin .central-dropdown
	{
		position: absolute;
		right: 35px;
		top: 50%;
		transform: translateY(-50%);
		margin: 0;
	}

	.defaultSkin .title-bar-layout .central-account-wrapper
	{
		display: none;
	}

	.defaultSkin .menu-icon-container .central-account-wrapper
	{
		display: flex;
	}

	.defaultSkin .menu-icon-container .central-account-drop
	{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 48px;
		height: 48px;
		padding: 0;
	}

	.defaultSkin .central-account-text
	{
		display: none;
	}

	.defaultSkin .central-dropdown-content
	{
		right: -25px;
	}

	._Skins_HTML5___Side_Navigation_2021 .body-container
	{
		padding-left: 0px;
		padding-right: 0px;
		overflow: inherit;
	}

	._Skins_HTML5___Side_Navigation_2021 .central-dropdown
	{
		margin-left: 0px;
		margin-right: 0px;
		left: 35px;
		right: auto;
	}

	._Skins_HTML5___Side_Navigation_2021 .central-dropdown .central-account-drop
	{
		padding-top: 0px;
		padding-bottom: 0px;
	}

	._Skins_HTML5___Side_Navigation_2021 .menu-icon-container .central-account-wrapper
	{
		display: flex;
	}

	._Skins_HTML5___Side_Navigation_2021 .central-dropdown:hover
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .central-account-image
	{
		background: transparent url('Images/icon-user-white.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-user-white.png') no-repeat center center;
	}

	._Skins_HTML5___Side_Navigation_2021 .central-dropdown-content
	{
		height: auto;
		left: -25px;
		right: auto;
		background-color: #ffffff;
	}

	._Skins_HTML5___Side_Navigation_2021 div.central-dropdown-content > a
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 div.central-dropdown-content > a:hover
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .central-separator
	{
		background-color: #D5D8DA;
	}

	._Skins_HTML5___Side_Navigation_2021 nav.title-bar
	{
		background-repeat: no-repeat;
		background-position: center top;
		padding-top: 10px;
		padding-bottom: 10px;
		background: #023660;
		background: -moz-linear-gradient(top, #023660 0%, #023660 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#023660), color-stop(100%,#023660));
		background: -webkit-linear-gradient(top, #023660 0%, #023660 100%);
		background: -o-linear-gradient(top, #023660 0%,#023660 100%);
		background: -ms-linear-gradient(top, #023660 0%,#023660 100%);
		background: linear-gradient(top, #023660 0%,#023660 100%);
		-pie-background: linear-gradient(#023660, #023660);
	}

	._Skins_HTML5___Side_Navigation_2021 .off-canvas-wrapper-inner nav.title-bar .outer-row
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .title-bar-layout .logo-wrapper
	{
		min-height: 40px;
		justify-content: center;
		flex-basis: 100%;
	}

	._Skins_HTML5___Side_Navigation_2021 .title-bar-layout a.logo
	{
		width: 175px;
		height: 35px;
		background: transparent url('Images/Infinite_Blue_LogoTag_white_35px_ht.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/Infinite_Blue_LogoTag_white_35px_ht.png') no-repeat center center;
	}

	._Skins_HTML5___Side_Navigation_2021 .menu-icon-container
	{
		min-height: 40px;
	}

	._Skins_HTML5___Side_Navigation_2021 .off-canvas-wrapper-inner .outer-row
	{
		padding-left: 1em;
		padding-right: 1em;
	}

	._Skins_HTML5___Side_Navigation_2021 .main-section > .outer-row
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .off-canvas-content
	{
		max-height: none;
	}

	._Skins_HTML5___Side_Navigation_2021 .sidenav-layout
	{
		max-height: none;
	}

	._Skins_HTML5___Side_Navigation_2021 .off-canvas
	{
		background-position: top center;
		background-color: #f5f5f5;
	}

	._Skins_HTML5___Side_Navigation_2021 .off-canvas ul ul
	{
		background-position: top center;
		background-color: #f5f5f5;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list li a
	{
		border-bottom: solid 1px #262626;
		color: #000000;
		font-family: 'Segoe UI';
		font-size: 10pt;
		font-weight: normal;
		line-height: 1.6em;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul > li > a
	{
		margin-left: 1em;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul > li > a
	{
		margin-left: 2em;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul ul > li > a
	{
		margin-left: 3em;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul ul ul > li > a
	{
		margin-left: 4em;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list li.js-drilldown-back > a
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list li.is-accordion-submenu-parent > a span.submenu-toggle
	{
		border-top-color: #e04925;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list li a:hover
	{
		color: #000000;
		font-size: 10.5pt;
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul ul ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list li.js-drilldown-back > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list li.is-accordion-submenu-parent > a span.submenu-toggle:hover
	{
		border-top-color: #e04925;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list li a.selected
	{
		color: #000000;
		font-size: 11pt;
		font-weight: bold;
		background-color: #696969;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul > li > a.selected
	{
		background-color: #696969;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul > li > a.selected
	{
		background-color: #696969;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul ul > li > a.selected
	{
		background-color: #696969;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul ul ul > li > a.selected
	{
		background-color: #696969;
	}

	._Skins_HTML5___Side_Navigation_2021 .title-bar .menu-icon span
	{
		background: transparent url('Images/Menu.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/Menu.png') no-repeat center center;
	}

	._Skins_HTML5___Side_Navigation_2021 nav.title-bar .menu-icon
	{
		left: -13px;
		right: auto;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete ul
	{
		background-color: #ffffff;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item a
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-content
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-history
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item.auto-result-selected a
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-content.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-history.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item .auto-result-description
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-content .auto-result-description
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-history .auto-result-description
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item .auto-result-icon
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-content .auto-result-icon
	{
		background: transparent url('Images/icon-topic.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-topic.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-history .auto-result-icon
	{
		background: transparent url('Images/icon-search.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-search.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item .auto-result-phrase
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-content .auto-result-phrase
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-history .auto-result-phrase
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-content .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-history .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li .auto-result-remove
	{
		width: 17px;
		height: 27px;
		background: transparent url('Images/icon-remove.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-remove.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item .auto-result-separator
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .nav-search-wrapper
	{
		order: 3;
		justify-content: center;
		flex-basis: 100%;
	}

	._Skins_HTML5___Side_Navigation_2021 .nav-search
	{
		display: block;
		width: 90%;
		margin-right: 0px;
		margin-top: 15px;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-field
	{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		background-color: #f5f5f5;
		padding-right: 100px;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-filter
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #ffffff;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-submit
	{
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-filter-content
	{
		top: 2em;
		background-color: #ffffff;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-filter-wrapper.open
	{
		background-position: center center;
		background-color: #ffffff;
		background-repeat: no-repeat;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-filter:hover
	{
		background-repeat: no-repeat;
		background-color: #ffffff;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-filter.selected
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: transparent url('Images/icon-filter-selected.png') no-repeat center center;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-filter-content ul li button:focus
	{
		background-color: #ffffff;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-field::-webkit-input-placeholder
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-field::-moz-placeholder
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-field:-moz-placeholder
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-field:-ms-input-placeholder
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar.search-bar-container .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: transparent url('Images/icon-search.png') no-repeat center center;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-filter-wrapper
	{
		right: 50px;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar.search-bar-container .search-submit:hover
	{
		background-repeat: no-repeat;
		background-color: transparent;
	}

	._Skins_HTML5___Side_Navigation_2021 .sidenav-wrapper
	{
		display: none;
	}

	._Skins_HTML5___Side_Navigation_2021 .skip-to-content
	{
		color: #808080;
		font-family: Arial;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation .body-container
	{
		
	}

	._Skins_HTML5___Top_Navigation .central-dropdown
	{
		margin-left: 0px;
		margin-right: 0px;
		left: auto;
		right: 35px;
	}

	._Skins_HTML5___Top_Navigation .central-dropdown .central-account-drop
	{
		padding-top: 0px;
		padding-bottom: 0px;
	}

	._Skins_HTML5___Top_Navigation .menu-icon-container .central-account-wrapper
	{
		display: flex;
	}

	._Skins_HTML5___Top_Navigation .central-dropdown:hover
	{
		
	}

	._Skins_HTML5___Top_Navigation .central-account-image
	{
		background: transparent url('Images/HTML5 - Top Navigation/icon-user-white.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/HTML5 - Top Navigation/icon-user-white.png') no-repeat center center;
	}

	._Skins_HTML5___Top_Navigation .central-dropdown-content
	{
		height: auto;
		left: auto;
		right: -25px;
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation div.central-dropdown-content > a
	{
		
	}

	._Skins_HTML5___Top_Navigation div.central-dropdown-content > a:hover
	{
		
	}

	._Skins_HTML5___Top_Navigation .central-separator
	{
		background-color: #D5D8DA;
	}

	._Skins_HTML5___Top_Navigation nav.title-bar
	{
		background-repeat: no-repeat;
		background-position: center top;
		background-color: #003366;
	}

	._Skins_HTML5___Top_Navigation .off-canvas-wrapper-inner nav.title-bar .outer-row
	{
		max-width: 62.5em;
	}

	._Skins_HTML5___Top_Navigation .title-bar-layout .logo-wrapper
	{
		min-height: 40px;
		flex-basis: 100%;
	}

	._Skins_HTML5___Top_Navigation .title-bar-layout a.logo
	{
		width: 313px;
		height: 35px;
		background: transparent url('Images/HTML5 - Top Navigation/Infinite_Blue_Logo_white-ht35px.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/HTML5 - Top Navigation/Infinite_Blue_Logo_white-ht35px.png') no-repeat center center;
	}

	._Skins_HTML5___Top_Navigation .menu-icon-container
	{
		min-height: 40px;
	}

	._Skins_HTML5___Top_Navigation .off-canvas-wrapper-inner .outer-row
	{
		
	}

	._Skins_HTML5___Top_Navigation .main-section > .outer-row
	{
		
	}

	._Skins_HTML5___Top_Navigation .off-canvas
	{
		background-position: top center;
		background-color: #f5f5f5;
	}

	._Skins_HTML5___Top_Navigation .off-canvas ul ul
	{
		background-position: top center;
		background-color: #f5f5f5;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list li a
	{
		border-bottom: solid 1px #262626;
		color: #2381c3;
		font-size: 1em;
		font-weight: normal;
		line-height: 1;
		background-color: transparent;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul > li > a
	{
		background-color: transparent;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul > li > a
	{
		background-color: transparent;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul ul > li > a
	{
		background-color: transparent;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul ul ul > li > a
	{
		background-color: transparent;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list li.js-drilldown-back > a
	{
		background-color: transparent;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list li.is-accordion-submenu-parent > a span.submenu-toggle
	{
		border-top-color: #2381c3;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list li a:hover
	{
		color: #C1C1C1;
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul ul ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list li.js-drilldown-back > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list li.is-accordion-submenu-parent > a span.submenu-toggle:hover
	{
		
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list li a.selected
	{
		font-weight: bold;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul > li > a.selected
	{
		
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul > li > a.selected
	{
		
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul ul > li > a.selected
	{
		
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul ul ul > li > a.selected
	{
		
	}

	._Skins_HTML5___Top_Navigation .title-bar .menu-icon span
	{
		background: #003366 url('Images/HTML5 - Top Navigation/Menu.png') no-repeat center center;
		-pie-background: #003366 url('Skins/Fluid/Stylesheets/Images/HTML5 - Top Navigation/Menu.png') no-repeat center center;
	}

	._Skins_HTML5___Top_Navigation nav.title-bar .menu-icon
	{
		left: auto;
		right: -13px;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete ul
	{
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item a
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-content
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-history
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item.auto-result-selected a
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-content.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-history.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item .auto-result-description
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-content .auto-result-description
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-history .auto-result-description
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item .auto-result-icon
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-content .auto-result-icon
	{
		background: transparent url('Images/HTML5 - Top Navigation/icon-topic.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/HTML5 - Top Navigation/icon-topic.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-history .auto-result-icon
	{
		background: transparent url('Images/HTML5 - Top Navigation/icon-search.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/HTML5 - Top Navigation/icon-search.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item .auto-result-phrase
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-content .auto-result-phrase
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-history .auto-result-phrase
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-content .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-history .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li .auto-result-remove
	{
		width: 17px;
		height: 27px;
		background: transparent url('Images/HTML5 - Top Navigation/icon-remove.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/HTML5 - Top Navigation/icon-remove.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item .auto-result-separator
	{
		
	}

	._Skins_HTML5___Top_Navigation .nav-search-wrapper
	{
		flex-basis: 100%;
	}

	._Skins_HTML5___Top_Navigation .nav-search
	{
		display: block;
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-field
	{
		background-color: #ffffff;
		padding-right: 50px;
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-filter
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-submit
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-filter-content
	{
		top: 2em;
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-filter-wrapper.open
	{
		background-position: center center;
		background-color: #ffffff;
		background-repeat: no-repeat;
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-filter:hover
	{
		background-repeat: no-repeat;
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-filter.selected
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: transparent url('Images/HTML5 - Top Navigation/Filter.png') no-repeat center center;
	}

	._Skins_HTML5___Top_Navigation .search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation .search-filter-content ul li button:focus
	{
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-field::-webkit-input-placeholder
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-field::-moz-placeholder
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-field:-moz-placeholder
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-field:-ms-input-placeholder
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-bar.search-bar-container .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #19b9f3;
	}

	._Skins_HTML5___Top_Navigation .search-bar.search-bar-container .search-submit:hover
	{
		background-repeat: no-repeat;
		background-color: #19b9f3;
	}

	._Skins_HTML5___Top_Navigation .sidenav-wrapper
	{
		display: none;
	}

	._Skins_HTML5___Top_Navigation .skip-to-content
	{
		color: #808080;
		font-family: Arial;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		background-color: #ffffff;
	}
}

