/*<meta />*/

@media only screen and (max-device-width: 767px)
{
	nav.title-bar
	{
		background-repeat: no-repeat;
		background-position: center top;
	}

	.title-bar-layout a.logo
	{
		background-position: center center;
		background-repeat: no-repeat;
	}

	.search-bar .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.search-bar .search-filter
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.search-input
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.off-canvas.position-right
	{
		background-position: top center;
	}

	.off-canvas.position-right ul ul
	{
		background-position: top center;
	}

	.off-canvas.position-left
	{
		background-position: top center;
	}

	.off-canvas.position-left ul ul
	{
		background-position: top center;
	}

	.title-bar-section.middle > div
	{
		
	}

	.defaultSkin nav.title-bar
	{
		background-repeat: no-repeat;
		background-position: center top;
	}

	.defaultSkin .title-bar-layout a.logo
	{
		background-position: center center;
		background-repeat: no-repeat;
	}

	.defaultSkin .search-bar .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.defaultSkin .search-bar .search-filter
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.defaultSkin .search-input
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.defaultSkin .off-canvas.position-right
	{
		background-position: top center;
	}

	.defaultSkin .off-canvas.position-right ul ul
	{
		background-position: top center;
	}

	.defaultSkin .off-canvas.position-left
	{
		background-position: top center;
	}

	.defaultSkin .off-canvas.position-left ul ul
	{
		background-position: top center;
	}

	.defaultSkin .title-bar-section.middle > div
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .central-dropdown
	{
		left: 35px;
		right: auto;
	}

	._Skins_HTML5___Side_Navigation_2021 .central-dropdown .central-account-drop
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .menu-icon-container .central-account-wrapper
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .central-dropdown:hover
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .central-account-image
	{
		background: transparent url('Images/icon-user-white.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-user-white.png') no-repeat center center;
	}

	._Skins_HTML5___Side_Navigation_2021 .central-dropdown-content
	{
		height: auto;
		left: -25px;
		right: auto;
		background-color: #ffffff;
	}

	._Skins_HTML5___Side_Navigation_2021 div.central-dropdown-content > a
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 div.central-dropdown-content > a:hover
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list li a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul ul ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list li.js-drilldown-back > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Top_Navigation div.central-dropdown-content > a:hover
	{
		
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list li a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul ul ul > li > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list li.js-drilldown-back > a:hover
	{
		background-color: #dcdcdc;
	}

	._Skins_HTML5___Side_Navigation_2021 .central-separator
	{
		background-color: #D5D8DA;
	}

	._Skins_HTML5___Side_Navigation_2021 nav.title-bar
	{
		background-repeat: no-repeat;
		background-position: center top;
		background: #023660;
		background: -moz-linear-gradient(top, #023660 0%, #023660 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#023660), color-stop(100%,#023660));
		background: -webkit-linear-gradient(top, #023660 0%, #023660 100%);
		background: -o-linear-gradient(top, #023660 0%,#023660 100%);
		background: -ms-linear-gradient(top, #023660 0%,#023660 100%);
		background: linear-gradient(top, #023660 0%,#023660 100%);
		-pie-background: linear-gradient(#023660, #023660);
	}

	._Skins_HTML5___Side_Navigation_2021 .off-canvas-wrapper-inner nav.title-bar .outer-row
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .title-bar-layout .logo-wrapper
	{
		min-height: 40px;
	}

	._Skins_HTML5___Side_Navigation_2021 .title-bar-layout a.logo
	{
		width: 175px;
		height: 35px;
		background: transparent url('Images/Infinite_Blue_LogoTag_white_35px_ht.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/Infinite_Blue_LogoTag_white_35px_ht.png') no-repeat center center;
	}

	._Skins_HTML5___Side_Navigation_2021 .menu-icon-container
	{
		min-height: 40px;
	}

	._Skins_HTML5___Side_Navigation_2021 .off-canvas-wrapper-inner .main-section > .outer-row
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .main-section > .outer-row
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .off-canvas-wrapper-inner .outer-row
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .off-canvas
	{
		background-position: top center;
		background-color: #f5f5f5;
	}

	._Skins_HTML5___Side_Navigation_2021 .off-canvas ul ul
	{
		background-position: top center;
		background-color: #f5f5f5;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list li a
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul > li > a
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul > li > a
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul ul > li > a
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul ul ul > li > a
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list li.js-drilldown-back > a
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list li a.selected
	{
		font-weight: bold;
		background-color: #696969;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul > li > a.selected
	{
		background-color: #696969;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul > li > a.selected
	{
		background-color: #696969;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul ul > li > a.selected
	{
		background-color: #696969;
	}

	._Skins_HTML5___Side_Navigation_2021 ul.off-canvas-list ul ul ul ul > li > a.selected
	{
		background-color: #696969;
	}

	._Skins_HTML5___Side_Navigation_2021 .title-bar .menu-icon span
	{
		background: transparent url('Images/Menu.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/Menu.png') no-repeat center center;
	}

	._Skins_HTML5___Side_Navigation_2021 nav.title-bar .menu-icon
	{
		left: -13px;
		right: auto;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete ul
	{
		background-color: #ffffff;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item a
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-content
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-history
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item.auto-result-selected a
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-content.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-history.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item .auto-result-description
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-content .auto-result-description
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-history .auto-result-description
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item .auto-result-icon
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-content .auto-result-icon
	{
		background: transparent url('Images/icon-topic.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-topic.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-history .auto-result-icon
	{
		background: transparent url('Images/icon-search.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-search.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item .auto-result-phrase
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-content .auto-result-phrase
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-history .auto-result-phrase
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-content .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-history .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li .auto-result-remove
	{
		width: 17px;
		height: 27px;
		background: transparent url('Images/icon-remove.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-remove.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-auto-complete li.auto-result-item .auto-result-separator
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .nav-search-wrapper
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .nav-search
	{
		display: block;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-field
	{
		font-family: 'Segoe UI';
		background-color: #f5f5f5;
		padding-right: 100px;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-filter
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #ffffff;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-submit
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-filter-content
	{
		top: 2em;
		background-color: #ffffff;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-filter-wrapper.open
	{
		background-position: center center;
		background-color: #ffffff;
		background-repeat: no-repeat;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-filter:hover
	{
		background-repeat: no-repeat;
		background-color: #ffffff;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-filter.selected
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: transparent url('Images/icon-filter-selected.png') no-repeat center center;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-filter-content ul li button:focus
	{
		background-color: #ffffff;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-field::-webkit-input-placeholder
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-field::-moz-placeholder
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-field:-moz-placeholder
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-field:-ms-input-placeholder
	{
		
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar.search-bar-container .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: transparent url('Images/icon-search.png') no-repeat center center;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar .search-filter-wrapper
	{
		right: 50px;
	}

	._Skins_HTML5___Side_Navigation_2021 .search-bar.search-bar-container .search-submit:hover
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-color: transparent;
	}

	._Skins_HTML5___Side_Navigation_2021 .skip-to-content
	{
		color: #808080;
		font-family: Arial;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation .central-dropdown
	{
		left: auto;
		right: 35px;
	}

	._Skins_HTML5___Top_Navigation .central-dropdown .central-account-drop
	{
		
	}

	._Skins_HTML5___Top_Navigation .menu-icon-container .central-account-wrapper
	{
		
	}

	._Skins_HTML5___Top_Navigation .central-dropdown:hover
	{
		
	}

	._Skins_HTML5___Top_Navigation .central-account-image
	{
		background: transparent url('Images/HTML5 - Top Navigation/icon-user-white.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/HTML5 - Top Navigation/icon-user-white.png') no-repeat center center;
	}

	._Skins_HTML5___Top_Navigation .central-dropdown-content
	{
		height: auto;
		left: auto;
		right: -25px;
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation div.central-dropdown-content > a
	{
		
	}

	._Skins_HTML5___Top_Navigation .central-separator
	{
		background-color: #D5D8DA;
	}

	._Skins_HTML5___Top_Navigation nav.title-bar
	{
		background-repeat: no-repeat;
		background-position: center top;
		background-color: #003366;
	}

	._Skins_HTML5___Top_Navigation .off-canvas-wrapper-inner nav.title-bar .outer-row
	{
		
	}

	._Skins_HTML5___Top_Navigation .title-bar-layout .logo-wrapper
	{
		min-height: 40px;
	}

	._Skins_HTML5___Top_Navigation .title-bar-layout a.logo
	{
		width: 313px;
		height: 35px;
		background: transparent url('Images/HTML5 - Top Navigation/Infinite_Blue_Logo_white-ht35px.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/HTML5 - Top Navigation/Infinite_Blue_Logo_white-ht35px.png') no-repeat center center;
	}

	._Skins_HTML5___Top_Navigation .menu-icon-container
	{
		min-height: 40px;
	}

	._Skins_HTML5___Top_Navigation .off-canvas-wrapper-inner .main-section > .outer-row
	{
		
	}

	._Skins_HTML5___Top_Navigation .main-section > .outer-row
	{
		
	}

	._Skins_HTML5___Top_Navigation .off-canvas-wrapper-inner .outer-row
	{
		
	}

	._Skins_HTML5___Top_Navigation .off-canvas
	{
		background-position: top center;
		background-color: #f5f5f5;
	}

	._Skins_HTML5___Top_Navigation .off-canvas ul ul
	{
		background-position: top center;
		background-color: #f5f5f5;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list li a
	{
		background-color: transparent;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul > li > a
	{
		background-color: transparent;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul > li > a
	{
		background-color: transparent;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul ul > li > a
	{
		background-color: transparent;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul ul ul > li > a
	{
		background-color: transparent;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list li.js-drilldown-back > a
	{
		background-color: transparent;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list li a.selected
	{
		font-weight: bold;
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul > li > a.selected
	{
		
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul > li > a.selected
	{
		
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul ul > li > a.selected
	{
		
	}

	._Skins_HTML5___Top_Navigation ul.off-canvas-list ul ul ul ul > li > a.selected
	{
		
	}

	._Skins_HTML5___Top_Navigation .title-bar .menu-icon span
	{
		background: #003366 url('Images/HTML5 - Top Navigation/Menu.png') no-repeat center center;
		-pie-background: #003366 url('Skins/Fluid/Stylesheets/Images/HTML5 - Top Navigation/Menu.png') no-repeat center center;
	}

	._Skins_HTML5___Top_Navigation nav.title-bar .menu-icon
	{
		left: auto;
		right: -13px;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete ul
	{
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item a
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-content
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-history
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item.auto-result-selected a
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-content.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-history.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item .auto-result-description
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-content .auto-result-description
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-history .auto-result-description
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item .auto-result-icon
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-content .auto-result-icon
	{
		background: transparent url('Images/HTML5 - Top Navigation/icon-topic.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/HTML5 - Top Navigation/icon-topic.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-history .auto-result-icon
	{
		background: transparent url('Images/HTML5 - Top Navigation/icon-search.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/HTML5 - Top Navigation/icon-search.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item .auto-result-phrase
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-content .auto-result-phrase
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-history .auto-result-phrase
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-content .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-history .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li .auto-result-remove
	{
		width: 17px;
		height: 27px;
		background: transparent url('Images/HTML5 - Top Navigation/icon-remove.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/HTML5 - Top Navigation/icon-remove.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_HTML5___Top_Navigation .search-auto-complete li.auto-result-item .auto-result-separator
	{
		
	}

	._Skins_HTML5___Top_Navigation .nav-search-wrapper
	{
		
	}

	._Skins_HTML5___Top_Navigation .nav-search
	{
		display: block;
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-field
	{
		background-color: #ffffff;
		padding-right: 50px;
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-filter
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-submit
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-filter-content
	{
		top: 2em;
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-filter-wrapper.open
	{
		background-position: center center;
		background-color: #ffffff;
		background-repeat: no-repeat;
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-filter:hover
	{
		background-repeat: no-repeat;
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-filter.selected
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: transparent url('Images/HTML5 - Top Navigation/Filter.png') no-repeat center center;
	}

	._Skins_HTML5___Top_Navigation .search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation .search-filter-content ul li button:focus
	{
		background-color: #ffffff;
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-field::-webkit-input-placeholder
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-field::-moz-placeholder
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-field:-moz-placeholder
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-bar .search-field:-ms-input-placeholder
	{
		
	}

	._Skins_HTML5___Top_Navigation .search-bar.search-bar-container .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #19b9f3;
	}

	._Skins_HTML5___Top_Navigation .search-bar.search-bar-container .search-submit:hover
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #19b9f3;
	}

	._Skins_HTML5___Top_Navigation .skip-to-content
	{
		color: #808080;
		font-family: Arial;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		background-color: #ffffff;
	}
}

